* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('/static/images/sky.jpg') no-repeat center center fixed; /* Add the GIF background */
    background-size: cover; /* Ensure it covers the entire viewport */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    font-size: 24px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

h3 {
    font-size: 18px;
    margin: 20px 0 10px;
}

.styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-btn {
    width: 48%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.style-btn img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.style-btn p {
    font-size: 14px;
    margin-top: 10px;
}

.style-btn.active {
    border-color: blue;
}

.generate-btn {
    background-color: #000;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.generate-btn:hover {
    background-color: #333;
}
