<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Stylish PPT Slides</title>
</head>
<body>
    <div id="slides-container">
        {% for slide in slides %}
            <img src="{{ url_for('static', filename=slide) }}" alt="Slide" style="width:100%; max-width:800px;"/>
            <br>
        {% endfor %}
    </div>

    <div class="button-container">
        <!-- <button id="editBtn">Edit</button> -->
        <button id="downloadBtn">Download</button>
    </div>

    <!-- <script src="/static/javascript/output.js"></script> -->
</body>
</html>
